body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #2e2c35;
  color: #2e2c35;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.card-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #d4d4d4;
  width: 300px;
  padding: 20px;
  border-radius: 8px;
}

.message {
  margin: 0 auto;
  text-align: center;
  color: white;
  padding: 30px;
  font-size: 25px;
}

.error {
  background-color: #b35454;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}

nav button {
  padding: 12px;
  width: 150px;
  background-color: transparent;
  border: 2px solid #955bff;
  border-radius: 8px;
  color: #955bff;
  transition: all 200ms ease-out;
  cursor: pointer;
  font-size: 17px;
}

nav button:hover {
  background-color: #955bff;
  color: white;
  transform: scale(1.05);
}

nav button:disabled {
  cursor: no-drop;
  transform: scale(1);
  background-color: #4a4752;
  color: #2e2c35;
  border: none;
}

nav p {
  color: #d4d4d4;
}
